.p-datatable .p-datatable-thead > tr > th{
    background-image: url('../../../Images/madera.webp') !important;
    background-size: cover;
    border: solid 2px rgba(1, 71, 1, 0.671) !important;
    color: black;
}
.header-admin-editUsers{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: rgba(235, 163, 57, 0.945);
    border-bottom: 5px solid rgb(0, 189, 72);
    height: 12vh;
    background-image: url(../../../Images/tabla2.jpg)
}

.icons {
    display: flex;
    gap: 60px;
}

.icon {
    color: green;
    background-color: wheat;
    border-radius: 100%;
    padding: 10px 10px;
    
}

.homeAdminNavigator{
    display: flex;
    justify-content: space-evenly;
    background-color: currentColor;
    height: 50px;
    align-items: center;
}