

.p-sortable-column{
    background-image: url('../../../Images/madera.webp') !important;
    background-size: cover;
    border: solid 2px rgba(1, 71, 1, 0.671) !important;
}

.p-datatable .p-datatable-tbody > tr{
   
   
}

.p-datatable .p-datatable-tbody > tr > td {
    border: solid 2px rgba(1, 71, 1, 0.671) !important;
}

.p-datatable .p-sortable-column.p-highlight:not(.p-sortable-disabled) .p-sortable-column-icon{
  
}

.p-datatable .p-sortable-column.p-highlight:focus{
    color: white !important;
}
.p-datatable .p-sortable-column.p-highlight{
    color: #343a40 !important;
}

.p-datatable .p-sortable-column:focus {
    
}

.card{
    width: 100% !important;

}

/***

.datatable-crud-demo .table-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
@media screen and (max-width: 960px) {
    .datatable-crud-demo .table-header {
        align-items: flex-start;
    }
}
.datatable-crud-demo .product-image {
    width: 100px !important; 
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23)!important;
}
.datatable-crud-demo .p-dialog .product-image {
    width: 150px !important;
    margin: 0 auto 2rem auto!important;
    display: block !important;
}
.datatable-crud-demo .confirmation-content {
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
}
@media screen and (max-width: 960px) {
    .datatable-crud-demo .p-toolbar {
        flex-wrap: wrap !important;
    }
    .datatable-crud-demo .p-toolbar .p-button {
        margin-bottom: 0.25rem !important;
    }
    .datatable-crud-demo .table-header {
        flex-direction: column !important;
    }
    .datatable-crud-demo .table-header .p-input-icon-left, .datatable-crud-demo .table-header input {
        width: 100% !important;
    }
}

**/