.footer{
    display: flex;
    flex-direction: column;
    
}

.footer h1{
    color: black;
    
}

.footer p{
    color:rgb(0, 189, 72);
    text-align: center;
    font-size: 3vh;
}
.footer-content{
    display: flex;
   justify-content: center;
   gap: 20%;
}
.content-contacto{
    text-align: center;
}

.content-cliente{
    text-align: center;
}
