.header-admin{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: rgba(235, 163, 57, 0.945);
    border-bottom: 5px solid rgb(0, 189, 72);
    height: 12vh;
    background-image: url(../../../Images/tabla2.jpg)
}

.icons {
    display: flex;
    gap: 60px;
}

.icon {
    color: green;
    background-color: wheat;
    border-radius: 100%;
    padding: 10px 10px;
    
}

.icon:hover {
    color: red;
}
.homeAdminNavigator{
    display: flex;
    justify-content: space-evenly;
    background-color: currentColor;
    height: 50px;
    align-items: center;
}

.homeAdminNavigator {
    display: flex;
    gap: 40px;
  
}
  
.list-group-item-admin {
    text-decoration: none;
    color: green;
    text-shadow: 0px 0px 3px green;
  
    font-size: 20px;
}
  
.list-group-item-admin:hover {
    color: red;
}