body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#categories {
  font-family: verdana, sans sherif;
  width: 80%;
  margin: 1.5rem auto;
  margin-left: -25%;
}

#categories ul {
  list-style-type: none; 
  text-align: center;
  font-size: 0;
}

#categories > ul li {
  display: inline-block;
  width: 25%;
  position: relative;
  background: #0d50e0;
}

#categories li a {
  text-decoration: none;
  font-size: 1rem;
  color: #fff;
  display: block;
  line-height: 3.5rem;
}

#categories li ul {
  position: absolute;
  width: 0;
  overflow: hidden;
}

#categories li li {
  display: block;
  width: 100%;
}

#categories li:hover li a,
#categories li:focus li a {
  display: block;
  font-family: monospace;
  font-size: .9rem;
  line-height: 1.7rem;
  border-top: 1px solid #e5e5e5;
  background: #0d50e0;
}


#categories li:hover ul,
#categories li:focus ul {
    width: 100%;
    z-index: 5;
    margin: 0 -4rem -4rem -4rem;
    padding-left: 2rem;
}

.links{
  background-color: black;
  color: white;
  margin-left: 14%;
  padding-left: 1px;
}

.links:hover,
.links:focus {
  display: block;
  border-top: 1px solid #e5e5e5;
  background: rgb(204, 197, 197);
}

.products{
  height: 20rem;
}

.products_Container{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}

.products_Container p{
  margin-left: 25%;
  margin-right: 25%;
  font-size: 15px;
}