body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#categories {
  font-family: verdana, sans sherif;
  width: 50%;
  margin: 1.5rem auto;
  margin-left: -19%;
}

#categories ul {
  list-style-type: none; 
  text-align: center;
  font-size: 0;
}

#categories > ul li {
  display: inline-block;
  width: 25%;
  position: relative;
  background: #3C3C3C;
}

#categories li a {
  text-decoration: none;
  font-size: 1rem;
  color: #fff;
  display: block;
  line-height: 3.5rem;
  height: 4rem;
  border-bottom: solid 2px white;
}

#categories li ul {
  position: absolute;
  width: 0;
  overflow: hidden;
}

#categories li li {
  display: block;
  width: 100%;
}

#categories li:hover li a,
#categories li:focus li a {
  display: block;
  font-family: monospace;
  font-size: .9rem;
  line-height: 1.7rem;
  border-top: 1px solid #e5e5e5;
  background: #0d50e0;
}


#categories li:hover ul,
#categories li:focus ul {
    width: 110%;
    z-index: 5;
    margin-left: -33%;
    padding-left: 2rem;
}

.links{
  background-color: #717171;
  color: white;
  margin-left: 20%;
  width: 80%;
}

.links:hover,
.links:focus {
  display: block;
  border-top: 1px solid #e5e5e5;
  background: rgb(204, 197, 197);
}

.products{
  height: 20rem;
}

.products_Container{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}

.products_Container p{
  margin-left: 25%;
  margin-right: 25%;
  font-size: 15px;
}

.Nav{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 1%;
}

.Nav a{
  text-decoration: none;
  background-color: rgba(1, 71, 1, 0.671);
  color: white;
  height: 3rem;
  width: 10%;
}

.form{
  width: 50%;
  margin-left: 30%;
  margin-top: 5%;
  border: solid 2px rgba(1, 71, 1, 0.671);
}

.show{
  float: left;
  margin-top: -26%;
  margin-left: 25%;
  display: flex;
  align-items: center;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: center;
  white-space: nowrap;
  background-color: #e9ecef;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
}

.show1{
  float: right;
  margin-top: -20%;
  margin-right: 25%;
  display: block;
  width: 50%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  appearance: none;
  border-radius: 0.25rem;
  margin-left: 5%;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.show2{
  float: left;
  margin-top: -39%;
  margin-left: 25%;
  display: flex;
  align-items: center;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  width: 15%;
  color: #212529;
  text-align: center;
  white-space: nowrap;
  background-color: #e9ecef;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
}

.show3{
  float: right;
  margin-top: -33%;
  margin-right: 25%;
  display: block;
  width: 50%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  appearance: none;
  border-radius: 0.25rem;
  margin-left: 5%;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.btnRegister{
  visibility: hidden;
}

.btnRegisterShow{
  float: right;
  margin-top: -10%;
  margin-right: 41%;
  color: #fff;
  margin-right: 30%;
  background-color: #0d6efd;
  border-color: #0d6efd;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  user-select: none;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  border-radius: 0.25rem;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.hide{
  visibility: hidden;
  height: 0px;
  width: 0%;
  float: right; 
}

.formRegister2{
  margin-left: 30%;
  margin-top: 10%;
  width: 50%;
  height: 380px;
  border: solid 2px rgba(1, 71, 1, 0.671);
}

.btnNext{
  margin-right: -20%;
  color: #fff;
  background-color: #0d6efd;
  border-color: #0d6efd;
  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  user-select: none;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  border-radius: 0.25rem;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.btnBack{
  visibility: hidden;
}

.btnBack2{
  float: left;
  margin-top: -10%;
  margin-left: 5%;
  color: #fff;
  background-color: #0d6efd;
  border-color: #0d6efd;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  user-select: none;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  border-radius: 0.25rem;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out; 
}

.imgUser1{
  height: 5rem;
}

.container_ImgUsers{
  display: flex;
  flex-direction: row;
  margin-top: 3%;
  margin-bottom: -5%;
  width: 35%;
  margin-left: 38%;
}

.container_ImgUsers p{
  color: black;
  background-color: black;
  height: 1.5rem;
  width: 65%;
}

.imgUsersNext{
  display: flex;
  flex-direction: row;
  margin-top: 3%;
  margin-bottom: -10%;
  width: 35%;
  margin-left: 38%;
}

.imgUsersNext p{
  color: black;
  background-color: black;
  height: 1.5rem;
  width: 65%;
}

.input-group-text{
  width: 25%;
  margin-left: 5%;
}

.form-control2{
  display: block;
  width: 50%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  appearance: none;
  border-radius: 0.25rem;
  margin-left: 5%;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.btnLogin{
  float: right;
  color: #fff;
  margin-right: 44%;
  background-color: #0d6efd;
  border-color: #0d6efd;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  user-select: none;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  border-radius: 0.25rem;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.formLogin{
  width: 40%;
  margin-left: 30%;
  margin-top: 5%;
  border: solid 2px rgba(1, 71, 1, 0.671);
}

.input-group-text-login{
  display: flex;
  width: 25%;
  margin-left: 25%;
  align-items: center;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: center;
  white-space: nowrap;
  background-color: #e9ecef;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
}

.form-control-login{
  display: block;
  width: 50%;
  margin-left: 25%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  appearance: none;
  border-radius: 0.25rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.shopping_Cart{
  height: 5rem;
  float: right;
  margin-top: -5%;
  margin-right: 5%;
}